/*
 * Diamond Specific Styles
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * CSS3 Circle Styles
 * http://tympanus.net/codrops/2012/08/08/circle-hover-effects-with-css-transitions/
 */
.dashboard-selections {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}
.dashboard-selections:after,
.dashboard-selections:before {
  content: '';
  display: table;
}
.dashboard-selections:after {
  clear: both;
}
.dashboard-selections li {
  width: 220px;
  height: 220px;
  display: inline-block;
  margin: 20px;
}
.dashboard-selection {
  display: block;
  background-color: black;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  cursor: default;
  box-shadow: inset 0 0 0 0 rgba(152, 126, 80, 0.4), inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
}
.dashboard-selection:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 110px rgba(152, 126, 80, 0.4), inset 0 0 0 16px rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.1);
}
.dashboard-selection:hover .dashboard-selection-info {
  opacity: 1;
  transform: scale(1);
}
.dashboard-selection-info {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  transform: scale(0);
  backface-visibility: hidden;
}
.dashboard-selection-info h3 {
  color: #fff;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 2px;
  font-size: 22px;
  margin: -20px 30px 0;
  padding: 65px 0 0 0;
  height: 110px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 0 0 1px #ffffff, 0 1px 2px rgba(0, 0, 0, 0.3);
}
.dashboard-selection-info p {
  color: #fff;
  padding: 10px 5px;
  font-style: italic;
  margin: 0 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
/*
 * Public Genral
 *
 */
body.not-logged-in .nav {
  margin-top: 15px;
}
body.not-logged-in .container-narrow {
  max-width: 700px;
  margin: 0 auto;
}
body.not-logged-in #page {
  max-width: 700px;
}
body.not-logged-in #page #navbar-basic {
  *zoom: 1;
}
body.not-logged-in #page #navbar-basic:before,
body.not-logged-in #page #navbar-basic:after {
  display: table;
  content: "";
  line-height: 0;
}
body.not-logged-in #page #navbar-basic:after {
  clear: both;
}
body.not-logged-in #page #main {
  padding: 40px 0;
  border-top: 1px solid #CBCBCB;
  width: 100%;
}
body.not-logged-in #page #main #content {
  text-align: center;
}
body.not-logged-in #page #main #content h1 {
  font-size: 72px;
  line-height: 1.0;
}
body.not-logged-in #page #main #content hr {
  margin: 35px 0 20px 0;
}
body.not-logged-in footer#colophon {
  background: none;
}
body.not-logged-in footer#colophon .container-narrow {
  padding-top: 20px;
  border-top: 1px solid #CBCBCB;
}
/*
 * Logged-in Home
 */
body.logged-in.home h1 {
  text-align: center;
  color: #ffffff;
}
body.logged-in.home .cover {
  background: url('../images/sample-bg.jpg') no-repeat center center fixed;
}
body.logged-in.home .modules li {
  list-style: none;
}
body.logged-in.home .modules li:nth-child(1) a {
  background: url('../images/sample-fire.png') no-repeat;
}
body.logged-in.home .modules li:nth-child(2) a {
  background: url('../images/sample-vallery.png') no-repeat;
}
body.logged-in.home .modules li:nth-child(3) a {
  background: url('../images/sample-fishing.png') no-repeat;
}
body.logged-in.home .modules li a {
  color: #ffffff;
}
/*
 * "Ikaika the Fisherman"
 */
body.postid-177 .cover {
  background: url('../images/sample-bg-ikaika.jpg') no-repeat center center fixed;
}
body.postid-177 .dashboard-selections .dashboard-selection {
  background: url('../images/sample-fruits.png') no-repeat;
}
/*
 * Games General
 */
.gameBox {
  padding: 15px 30px 25px;
  margin-left: -10px;
  margin-right: -30px;
  background: url('../images/sample-bg-75.png');
}
.gameBox h1 {
  color: #ffffff;
  text-align: center;
}
.gameBox a.btn-primary {
  margin: 0 auto;
  position: relative;
  float: none;
  display: block;
}
/*
 * Vocabulary Games
 */
body.single-vocabulary_games .card-stack-logo {
  width: 280px;
  height: 280px;
  margin: 10px auto 15px;
  position: relative;
}
body.single-vocabulary_games.postid-185 {
  background: url('../images/sample-bg-ikaika.jpg') no-repeat center center fixed;
}
body.single-vocabulary_games.postid-185 .card-stack-logo {
  background: url('../images/fruits-icon.png') no-repeat;
}
/*
 * Scoresheet
 */
ul.scoresheet {
  list-style: none;
  margin: 0;
}
ul.scoresheet li.record {
  padding: 10px 0;
  border-top: 1px solid #999999;
}
ul.scoresheet li.record:first-child {
  border-top: none;
}
ul.scoresheet li.record.legend {
  text-transform: uppercase;
  color: #999999;
  font-size: 12px;
}
ul.scoresheet li.record ul.scores {
  float: right;
}
ul.scoresheet li.record ul.scores li {
  list-style: none;
  float: left;
  border-top: none;
  text-align: center;
}
/*
 * General Styles
 */
ul.breadcrumb {
  background: #eeeeee;
}
.cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -9999999;
  position: fixed;
  width: 100%;
  height: 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=image-path("bg.jpg"), sizingMethod='scale');
  -ms-filter: 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src=' image-path("bg.jpg") ', sizingMethod="scale")';
}
.gameProgress {
  height: 40px;
  width: 100%;
}
.gameProgress .gameProgressPoint {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-right: 10px;
  float: left;
}
.gameProgress .gameProgressPoint.current {
  background-color: #333333;
}
.gameProgress .miniGame {
  background: url('../images/game-icons.png') 0 -40px no-repeat #999999;
}
.gameProgress .finish {
  background: url('../images/game-icons.png') 0 -80px no-repeat #999999;
}
.gameBoard .btn {
  margin-top: 10px;
}
.gameBoard .gameCard {
  display: none;
}
.gameBoard .gameCard.current {
  display: block;
  cursor: pointer;
}
.gameBoard .gameCard .gameCardControls {
  *zoom: 1;
  margin: 0 0 10px 0;
}
.gameBoard .gameCard .gameCardControls:before,
.gameBoard .gameCard .gameCardControls:after {
  display: table;
  content: "";
  line-height: 0;
}
.gameBoard .gameCard .gameCardControls:after {
  clear: both;
}
.gameBoard .gameCard .gameCardControls a.pronunciationPlay {
  width: 40px;
  height: 40px;
  background: url('../images/game-icons.png') 0 0 no-repeat #999999;
  display: block;
  cursor: pointer;
  float: left;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.gameBoard .gameCard .gameCardControls .translationWrapper {
  float: left;
  margin: 0 0 0 15px;
}
.gameBoard .gameCard .gameCardControls .translationWrapper a.toggleHwnTranslation,
.gameBoard .gameCard .gameCardControls .translationWrapper a.toggleEngTranslation {
  display: block;
  cursor: pointer;
  float: left;
  clear: left;
}
.gameBoard .gameCard.miniGame .gameChoices {
  position: relative;
  *zoom: 1;
  padding-top: 60px;
}
.gameBoard .gameCard.miniGame .gameChoices:before,
.gameBoard .gameCard.miniGame .gameChoices:after {
  display: table;
  content: "";
  line-height: 0;
}
.gameBoard .gameCard.miniGame .gameChoices:after {
  clear: both;
}
.gameBoard .gameCard.miniGame .gameChoices .gameChoice {
  float: left;
}
.gameBoard .gameCard.miniGame .gameChoices .gameChoice .gameCardControls {
  position: absolute;
  top: 0;
  left: 0;
}
.gameBoard .gameCard.miniGame .gameChoices .gameChoice a.choiceSelect.selected img {
  border: 5px solid green;
}
