/*
 * Diamond Specific Styles
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.carousel {
  position: relative;
  margin-bottom: 20px;
  line-height: 1;
}
.carousel-inner {
  overflow: hidden;
  width: 100%;
  position: relative;
}
.carousel-inner > .item {
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  -moz-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  line-height: 1;
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.carousel-control.right {
  left: auto;
  right: 15px;
}
.carousel-control:hover,
.carousel-control:focus {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.carousel-indicators {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 5;
  margin: 0;
  list-style: none;
}
.carousel-indicators li {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  text-indent: -999px;
  background-color: #ccc;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
}
.carousel-indicators .active {
  background-color: #fff;
}
.carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  background: #333333;
  background: rgba(0, 0, 0, 0.75);
}
.carousel-caption h4,
.carousel-caption p {
  color: #ffffff;
  line-height: 20px;
}
.carousel-caption h4 {
  margin: 0 0 5px;
}
.carousel-caption p {
  margin-bottom: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin-left: -280px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  /* IE6-7 */

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  outline: none;
}
.modal.fade {
  -webkit-transition: opacity .3s linear, top .3s ease-out;
  -moz-transition: opacity .3s linear, top .3s ease-out;
  -o-transition: opacity .3s linear, top .3s ease-out;
  transition: opacity .3s linear, top .3s ease-out;
  top: -25%;
}
.modal.fade.in {
  top: 10%;
}
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}
.modal-header .close {
  margin-top: 2px;
}
.modal-header h3 {
  margin: 0;
  line-height: 30px;
}
.modal-body {
  position: relative;
  overflow-y: auto;
  max-height: 400px;
  padding: 15px;
}
.modal-form {
  margin-bottom: 0;
}
.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  *zoom: 1;
}
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: "";
  line-height: 0;
}
.modal-footer:after {
  clear: both;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  white-space: normal;
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}
.popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.popover-title:empty {
  display: none;
}
.popover-content {
  padding: 9px 14px;
}
.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover .arrow {
  border-width: 11px;
}
.popover .arrow:after {
  border-width: 10px;
  content: "";
}
.popover.top .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
}
.popover.top .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #ffffff;
}
.popover.right .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25);
}
.popover.right .arrow:after {
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #ffffff;
}
.popover.bottom .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px;
}
.popover.bottom .arrow:after {
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #ffffff;
}
.popover.left .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, 0.25);
}
.popover.left .arrow:after {
  right: 1px;
  border-right-width: 0;
  border-left-color: #ffffff;
  bottom: -10px;
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-ms-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.progress .bar {
  width: 0%;
  height: 100%;
  color: #ffffff;
  float: left;
  font-size: 12px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e90d2;
  background-image: -moz-linear-gradient(top, #149bdf, #0480be);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
  background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
  background-image: -o-linear-gradient(top, #149bdf, #0480be);
  background-image: linear-gradient(to bottom, #149bdf, #0480be);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.progress .bar + .bar {
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.15);
  -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.15);
  box-shadow: inset 1px 0 0 rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.15);
}
.progress-striped .bar {
  background-color: #149bdf;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px;
}
.progress.active .bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  -ms-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
.progress-danger .bar,
.progress .bar-danger {
  background-color: #dd514c;
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(to bottom, #ee5f5b, #c43c35);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffc43c35', GradientType=0);
}
.progress-danger.progress-striped .bar,
.progress-striped .bar-danger {
  background-color: #ee5f5b;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-success .bar,
.progress .bar-success {
  background-color: #5eb95e;
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(to bottom, #62c462, #57a957);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff57a957', GradientType=0);
}
.progress-success.progress-striped .bar,
.progress-striped .bar-success {
  background-color: #62c462;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-info .bar,
.progress .bar-info {
  background-color: #4bb1cf;
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(to bottom, #5bc0de, #339bb9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff339bb9', GradientType=0);
}
.progress-info.progress-striped .bar,
.progress-striped .bar-info {
  background-color: #5bc0de;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-warning .bar,
.progress .bar-warning {
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
}
.progress-warning.progress-striped .bar,
.progress-striped .bar-warning {
  background-color: #fbb450;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
/**
 *	Mixins
 */
/**
 * General Styles
 */
body .btn {
  border: none;
  border-radius: 0;
  text-shadow: none;
  padding: 8px 10px;
}
body .btn-primary {
  margin-right: 15px;
  border: none;
  border-radius: 0;
  text-shadow: none;
  background: #ff861f;
}
body .btn-primary:hover {
  background: #ffa252;
  border: none;
  box-shadow: none;
}
body hr.clear {
  clear: both;
  background: none;
  border: none;
  margin: 0;
}
body header#navbar {
  background-color: #000;
}
body header#navbar .navbar {
  color: #FFF;
  margin: 0 auto;
}
body header#navbar .navbar .navbar-inner {
  background: #000;
  border: none;
  border-radius: 0;
}
body header#navbar .navbar .navbar-inner a {
  padding: 10px 0;
}
body header#navbar .navbar .navbar-inner a.site-title {
  color: #EEE;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
body #main {
  position: relative;
  margin: 0 auto;
  padding: 0;
}
body #page {
  position: relative;
  margin: 0 auto;
  min-height: 0px;
}
body #content header {
  *zoom: 1;
}
body #content header:before,
body #content header:after {
  display: table;
  content: "";
  line-height: 0;
}
body #content header:after {
  clear: both;
}
body #content header h2 {
  color: #FFF;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 23px;
}
body #content header h1 {
  color: #FFF;
  margin: 48px auto 28px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 67px;
}
body #content header .btn-back {
  margin: -65px 0 0 0;
  display: block;
  float: left;
  color: #FFF;
}
body footer#colophon {
  color: #FFF;
  text-align: center;
  background: none;
}
body footer#colophon .container-narrow {
  padding-top: 20px;
}
body footer#colophon .site-info {
  text-align: center;
}
body a:visited {
  color: #0088cc;
}
body a:visited.btn {
  color: #333333;
}
body a:visited.btn.btn-primary {
  color: #FFF;
}
body [data-complete^="1"] a h4,
body [data-complete*="1"] a h4 {
  background-color: #46a546 !important;
}
body .claim-kukui {
  margin-left: 15px;
}
body .inline-kukui.aunty-aloha {
  color: #71c3c5;
}
body .avatars {
  width: 400px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  z-index: -99;
  *zoom: 1;
}
body .avatars .avatar-wrapper {
  position: relative;
  left: -50%;
}
body .avatars:before,
body .avatars:after {
  display: table;
  content: "";
  line-height: 0;
}
body .avatars:after {
  clear: both;
}
body .user-avatar {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 286px;
  width: 150px;
}
body .user-avatar.male {
  background: url('../images/male-avatar.png') no-repeat;
}
body .user-avatar.male.waveuser {
  background-position: -10px 0;
}
body .user-avatar.male.wave {
  background-position: -224px 0 !important;
}
body .user-avatar.male.default {
  background-position: -558px 0;
}
body .user-avatar.male.backturn {
  background-position: -380px 0;
}
body .user-avatar.female {
  background: url('../images/female-avatar.png') no-repeat;
}
body .user-avatar.female.default {
  background-position: -540px 0;
}
body .user-avatar.female.wave {
  background-position: -207px 0 !important;
  width: 157px;
}
body .user-avatar.female.backturn {
  background-position: -378px 0;
}
body .kukui-avatar {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 286px;
  width: 175px;
}
body .kukui-avatar.aunty-aloha {
  background: url('../images/aunty-aloha.png') no-repeat;
}
body .kukui-avatar.aunty-aloha.default {
  background-position: -240px 0;
}
body .kukui-avatar.aunty-aloha.backturn {
  width: 220px;
  background-position: -1478px 0;
}
/**
 *  Public General
 */
body.not-logged-in {
  background: url('../images/dashboard-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.not-logged-in .nav {
  margin-top: 15px;
}
body.not-logged-in .container-narrow {
  max-width: 700px;
  margin: 0 auto;
}
body.not-logged-in header#navbar-basic {
  max-width: 700px;
  margin: 0 auto 15px;
  overflow: hidden;
}
body.not-logged-in header#navbar-basic h2 {
  color: #FFF;
  font-size: 25px;
}
body.not-logged-in header#navbar-basic a {
  margin-top: 12px;
}
body.not-logged-in #page {
  max-width: 700px;
}
body.not-logged-in #page #navbar-basic {
  *zoom: 1;
}
body.not-logged-in #page #navbar-basic:before,
body.not-logged-in #page #navbar-basic:after {
  display: table;
  content: "";
  line-height: 0;
}
body.not-logged-in #page #navbar-basic:after {
  clear: both;
}
body.not-logged-in #page #main {
  padding: 80px 0 0;
  width: 100%;
}
body.not-logged-in #page #main #primary {
  min-height: 0px;
  max-width: 700px;
}
body.not-logged-in #page #main #primary #content {
  padding: 50px;
  color: #FFF;
  background: #22b1c4;
  text-align: center;
}
body.not-logged-in #page #main #primary #content .decoration.taro-leaves {
  width: 375px;
  height: 213px;
  background: url('../images/taro-leaves.png') no-repeat;
  margin: -135px auto 0;
}
body.not-logged-in #page #main #primary #content h1,
body.not-logged-in #page #main #primary #content h2 {
  font-family: 'Raleway', sans-serif;
}
body.not-logged-in #page #main #primary #content h1 {
  font-size: 72px;
  line-height: 1.0;
}
body.not-logged-in #page #main #primary #content hr {
  margin: 35px 0 20px 0;
}
body.not-logged-in footer#colophon {
  background: none;
}
/**
 *  Logged-in General
 */
body.logged-in {
  background: url('../images/texture-one.png');
}
body.logged-in.aunty-aloha {
  background: url('../images/aunty-aloha-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.logged-in .popover .popover-title {
  display: none;
}
body.logged-in .popover .popover-content h1 {
  font-size: 35px;
}
body.logged-in .popover .popover-content i {
  display: block;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #CCC;
}
body.logged-in .popover .popover-content a {
  width: 220px;
}
/**
 *	Logged in: Home
 */
body.home.logged-in .user-avatar {
  position: absolute;
  bottom: 0;
  left: 120px;
}
body.home.logged-in #primary {
  min-height: 720px;
}
body.home.logged-in #page {
  background: url('../images/dashboard-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.home.logged-in #content {
  background-color: rgba(44, 44, 44, 0.6);
}
body.home.logged-in #content h1 {
  font-size: 38px;
  text-align: left;
  margin: 28px;
  float: left;
}
body.home.logged-in ul.units li.unit {
  list-style: none;
}
body.home.logged-in ul.units li.unit a {
  display: block;
  position: absolute;
  height: 100px;
  width: 100px;
  line-height: 100px;
  border-radius: 100px;
  text-indent: -9999px;
}
body.home.logged-in ul.units li.unit a.post204 {
  top: 260px;
  left: 360px;
  background: url('../images/aunty-aloha-icon.png') center center no-repeat rgba(113, 195, 197, 0.9);
}
/**
 *	Logged In
 */
body.logged-in .wallet-balance {
  position: absolute;
  right: 60px;
  bottom: 40px;
}
body.logged-in .wallet-balance .currency-type {
  position: relative;
  float: right;
  margin-left: 40px;
}
body.logged-in .wallet-balance .currency-type .currency-icon {
  width: 82px;
  height: 82px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  border-radius: 90px;
}
body.logged-in .wallet-balance .currency-type .currency-icon.kukui {
  background: url('../images/kukui-nut.png') center center no-repeat #f2d400;
  border: 10px solid #efb245;
}
body.logged-in .wallet-balance .currency-type .currency-icon.flower {
  background: url('../images/flower.png') center center no-repeat #71c3c5;
  border: 10px solid #22b1c4;
}
body.logged-in .wallet-balance .currency-type .currency-balance {
  color: #524241;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  width: 22px;
  height: 22px;
  position: absolute;
  right: -20px;
  top: 60px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
body.logged-in .wallet-balance .currency-type .currency-balance.kukui {
  background: #f2d400;
  border: 5px solid #efb245;
}
body.logged-in .wallet-balance .currency-type .currency-balance.flower {
  background: #71c3c5;
  border: 5px solid #22b1c4;
}
/**
 *	Logged In & Single
 */
body.single.logged-in .lesson-content ul,
body.single.logged-in .lesson-content ol {
  padding: 0 10px;
  margin-bottom: 20px;
}
body.single.logged-in .lesson-content ul li,
body.single.logged-in .lesson-content ol li {
  margin: 0 0 10px 0;
}
/**
 *	Logged In: Unit Page (list of modules and topics)
 */
body.single-units #content #module-list {
  text-align: center;
}
body.single-units #content #module-list ul.modules li.module h2.module-title {
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 23px;
  margin: -25px 0 35px 0;
}
body.single-units #content #module-list ul.modules li.module h3.no-content {
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 23px;
  margin: 150px auto 0;
}
/**
 *	Logged In: Module Page (list of modules and topics)
 */
body.single-topics #content header .btn-back {
  margin: -115px 0 0 0;
}
body.single-topics #content .lessons {
  text-align: center;
}
/**
 * General Lesson Styles
 */
#lesson-start-modal {
  background: url('../images/texture-one.png');
  text-align: center;
}
#lesson-start-modal .modal-body {
  font-family: 'Raleway', sans-serif;
  padding: 100px;
}
#lesson-start-modal .modal-body h2 {
  font-size: 60px;
}
#lesson-start-modal .modal-footer {
  text-align: center;
  background: none;
  border: none;
  box-shadow: none;
}
#lesson-start-modal .modal-footer a {
  width: 80px;
  margin: 0 0 0 15px;
}
.lesson-header {
  *zoom: 1;
}
.lesson-header:before,
.lesson-header:after {
  display: table;
  content: "";
  line-height: 0;
}
.lesson-header:after {
  clear: both;
}
.lesson-header .lesson-title {
  margin: 32px 0 28px !important;
  float: left;
  font-size: 48px !important;
  max-width: 630px;
  text-align: left;
}
.lesson-header .lesson-progress {
  float: right;
  margin: 42px 0 20px;
  width: 286px;
}
.lesson-header .lesson-progress .bar.current {
  background: #339bb9;
}
.lesson-header .lesson-karma {
  float: right;
  min-width: 200px;
  margin: 10px 0 0 0;
}
.lesson-header .lesson-instructions {
  float: left;
  margin: 0 0 30px;
  color: #FFF;
  max-width: 630px;
  line-height: 1.4;
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  display: none;
}
.lesson-header .lesson-instructions.current {
  display: block;
}
.lesson-content {
  min-height: 404px;
  background-color: rgba(255, 255, 255, 0.85);
  font-size: 23px;
  line-height: 1.5;
  overflow: hidden;
}
.lesson-content .translation {
  font-style: italic;
  font-size: 17px;
  background-color: #22b1c4;
  color: #FFF;
  margin: 10px 0;
  padding: 20px;
}
.lesson-content .lesson-feedback {
  font-size: 14px;
  padding: 15px;
  display: none;
}
.lesson-content .lesson-feedback .lesson-feedback-correct {
  display: none;
}
.lesson-content .lesson-feedback .lesson-feedback-incorrect {
  display: none;
}
.lesson-content .lesson-cards {
  max-width: 600px;
  margin: 28px;
}
.lesson-content .lesson-card {
  max-width: 600px;
  display: none;
}
.lesson-content .lesson-card.current {
  display: block;
}
.lesson-content .test-card {
  margin: 28px;
}
.lesson-content .btn-primary {
  min-width: 150px;
  margin-bottom: 10px;
}
.lesson-content .audio-player {
  float: left;
  margin: 0 0 20px 0;
}
.lesson-content .pause-audio {
  display: none;
}
.lesson-footer {
  width: 100%;
  background-color: rgba(44, 44, 44, 0.6);
}
.lesson-footer .lesson-controls {
  padding: 28px;
  height: 21px;
}
.lesson-footer .lesson-controls .advance-lesson {
  display: none;
}
.lesson-footer .lesson-controls .check-lesson {
  display: none;
}
.lesson-footer .lesson-controls .finish-lesson {
  display: none;
}
.lesson-results {
  width: 645px;
  height: 415px;
  margin: 150px auto;
  background-color: rgba(44, 44, 44, 0.6);
  color: #FFF;
  text-align: center;
  overflow: hidden;
}
.lesson-results .lesson-results-title {
  margin: 30px auto 5px;
  font-size: 80px;
  line-height: 1.0;
}
.lesson-results .lesson-results-blurb {
  margin: 5px auto 20px;
  font-size: 28px;
  line-height: 1.0;
}
.lesson-results .lesson-results-score {
  margin: 5px auto;
}
.lesson-results .lesson-results-control {
  margin-top: 200px;
}
.lesson-results .lesson-results-control a {
  margin-right: 10px;
}
.lesson-results.success.male {
  background: url('../images/hooray-boy.jpg') no-repeat;
}
.lesson-results.success.female {
  background: url('../images/hooray-girl.jpg') no-repeat;
}
.lesson-results.fail.male {
  background: url('../images/auwe-boy.jpg') no-repeat;
}
.lesson-results.fail.female {
  background: url('../images/auwe-girl.jpg') no-repeat;
}
/**
 *	Lesson Styles: Instructional Lesson;
 */
body.single-instruction_lessons .lesson-header .lesson-title {
  text-align: left !important;
}
body.single-instruction_lessons .lesson-content img {
  float: left;
  margin: 0 28px 0 0;
}
body.single-instruction_lessons .lesson-content .instructional-slide-content {
  border-bottom: 1px solid #CCC;
  margin: 0 0 15px 0;
}
/**
 *	Lesson Styles: Listen Repeat;
 */
body.single-listenrepeat_lessons .lesson-content img {
  float: left;
  margin: 0 28px 0 0;
}
body.single-listenrepeat_lessons .lesson-content .lesson-card-content {
  float: right;
}
/**
 * Lesson Styles: Readings
 */body.single-readings .lesson-content .lesson-card {
  margin: 28px;
}
body.single-readings .lesson-content .lesson-card .readings-texts {
  border-top: 1px solid #CCC;
  padding-top: 20px;
  margin-top: 20px;
}
body.single-readings .lesson-content .lesson-card .readings-texts .readings-text {
  display: none;
}
body.single-readings .lesson-content .lesson-card .readings-texts .readings-text.active {
  display: block;
}
/**
 *	Lesson Styles: Phrases;
 */
body.single-phrases_lessons .lesson-image-container {
  max-width: 300px;
  max-height: 300px;
  overflow: hidden;
  margin-bottom: 20px;
}
/**
 *	Lesson Styles: Three choice assessments ( phrases, songs, proverbs )
 */
body.single-phrases_lessons .lesson-card,
body.single-song_lessons .lesson-card {
  max-width: none;
}
body.single-phrases_lessons .lesson-card-assessment-option,
body.single-song_lessons .lesson-card-assessment-option {
  border: 1px solid #DDD;
  margin: 0 15px 0 0;
}
/**
 *	Lesson Styles: Vocabulary Lessons
 */
body.single-vocabulary_lessons .lesson-content .lesson-card {
  margin: 28px;
}
body.single-vocabulary_lessons .lesson-content .lesson-card img {
  width: 315px;
  max-height: 320px;
}
body.single-vocabulary_lessons .lesson-content .lesson-card.test-card {
  max-width: 100%;
}
body.single-vocabulary_lessons .lesson-content .lesson-card.test-card .lesson-card-assessment {
  border-bottom: 1px solid #CCC;
  padding-bottom: 15px;
  margin-bottom: 20px;
  *zoom: 1;
}
body.single-vocabulary_lessons .lesson-content .lesson-card.test-card .lesson-card-assessment:before,
body.single-vocabulary_lessons .lesson-content .lesson-card.test-card .lesson-card-assessment:after {
  display: table;
  content: "";
  line-height: 0;
}
body.single-vocabulary_lessons .lesson-content .lesson-card.test-card .lesson-card-assessment:after {
  clear: both;
}
body.single-vocabulary_lessons .lesson-content .lesson-card.test-card .lesson-card-assessment .lesson-card-assessment-option {
  font-size: 14px;
  float: left;
  width: 30%;
  margin-right: 3%;
  text-align: center;
  cursor: pointer;
  color: #444;
}
body.single-vocabulary_lessons .lesson-content .lesson-card.test-card .lesson-card-assessment .lesson-card-assessment-option .lesson-card-image-wrap {
  max-height: 177px;
  overflow: hidden;
  margin-bottom: 5px;
}
/**
 *	Scene Modals
 */
#sceneModal.modal {
  width: 645px;
  background: none;
  color: #FFF;
  border: none;
  box-shadow: none;
}
#sceneModal.modal ul li,
#sceneModal.modal ol li {
  margin: 10px 0;
  line-height: 1.3;
}
#sceneModal.modal .modal-count {
  margin: -25px 0 0 0;
  text-align: center;
}
#sceneModal.modal .modal-count .modal-count-wrap {
  margin: 0 auto;
  display: inline-block;
  overflow: hidden;
}
#sceneModal.modal .modal-count .modal-count-wrap .modal-counter {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  background-color: #FFF;
  float: left;
  display: block;
}
#sceneModal.modal .modal-slide {
  padding: 0;
  display: none;
}
#sceneModal.modal .modal-slide.current-modal-slide {
  display: block;
}
#sceneModal.modal .modal-body {
  max-height: none;
  padding: 0;
  *zoom: 1;
}
#sceneModal.modal .modal-body:before,
#sceneModal.modal .modal-body:after {
  display: table;
  content: "";
  line-height: 0;
}
#sceneModal.modal .modal-body:after {
  clear: both;
}
#sceneModal.modal .modal-body .scene-content {
  height: 390px;
  overflow: auto;
  background: url('../images/texture-one.png');
  padding: 20px;
  color: #524241;
  font-family: 'Raleway', sans-serif;
  font-size: 27px;
  font-weight: 600;
  line-height: 1.3;
}
#sceneModal.modal .modal-body .scene-content p img {
  margin: 0 0 -10px 0;
}
#sceneModal.modal .modal-footer {
  border: none;
  box-shadow: none;
  background: none;
  padding: 14px 0 0 0;
}
#sceneModal.modal .modal-footer .scene-caption {
  float: left;
  max-width: 450px;
  text-align: left;
}
/**
 *  Post Single: Unit
 */
body.single-units .entry-content #module-list {
  margin: 0 auto;
  min-height: 420px;
}
body.single-units .entry-content #module-list ul.modules li.module ul.topics li.topic {
  list-style: none;
}
body.single-units .entry-content #module-list ul.modules li.module ul.topics li.topic a {
  color: #FFF;
}
body.single-units .entry-content #module-list ul.modules li.module ul.topics li.topic a h4 {
  padding: 25px;
  background-color: #333333;
  height: 45px;
}
body.single-units .carousel .carousel-indicators {
  top: 44px;
  right: 420px;
}
body.single-units .carousel .carousel-inner {
  margin: 0;
  overflow: visible;
}
body.single-units .carousel .carousel-control {
  top: 50%;
}
body.single-units .carousel .carousel-control.left {
  left: -75px;
}
body.single-units .carousel .carousel-control.right {
  right: -75px;
}
/**
 *  Post Single: Topic
 */
body.single-topics ul.lessons {
  width: 980px;
  margin: 0 auto;
}
body.single-topics ul.lessons li.lesson {
  list-style: none;
}
body.single-topics ul.lessons li.lesson a {
  color: #FFF;
}
body.single-topics ul.lessons li.lesson a h4 {
  padding: 25px;
  background-color: #333333;
  height: 45px;
}
/*
 * Scoresheet
 */
ul.scoresheet {
  list-style: none;
  margin: 0;
}
ul.scoresheet li.record {
  padding: 10px 0;
  border-top: 1px solid #999999;
}
ul.scoresheet li.record:first-child {
  border-top: none;
}
ul.scoresheet li.record.legend {
  text-transform: uppercase;
  color: #999999;
  font-size: 12px;
}
ul.scoresheet li.record ul.scores {
  float: right;
}
ul.scoresheet li.record ul.scores li {
  list-style: none;
  float: left;
  border-top: none;
  text-align: center;
}
/**
 *	Media Queries
 */
@media (min-width: 1200px) {
  body.home .container {
    width: 1200px !important;
  }
}
@media (max-width: 1200px) {
  
}
@media (max-width: 1024px) {
  body.home #page {
    margin: 0;
    width: 100%;
  }
  body.home #page #primary {
    min-height: 600px;
  }
  body.single-units .carousel .carousel-control {
    top: 10px;
  }
  body.single-units .carousel .carousel-control.left {
    left: 15px;
  }
  body.single-units .carousel .carousel-control.right {
    right: 0px;
  }
  body.single-units .avatars {
    display: none;
  }
}
@media (max-width: 979px) {
  
}
@media (max-width: 767px) {
  body.single header#navbar {
    margin: 0 -20px;
  }
  .lesson-header .lesson-title {
    margin: 35px 0 0 0 !important;
  }
}
@media (max-width: 479px) {
  
}
