/*
 * Diamond Specific Styles
 */

@import "../../bedrock/inc/less/bedrock-variables.less"; // Replace this line with your new variables, if you like.
@import "../../bedrock/inc/bootstrap/less/mixins.less";
@import "../../bedrock/inc/bootstrap/less/carousel.less";
@import "../../bedrock/inc/bootstrap/less/modals.less";
@import "../../bedrock/inc/bootstrap/less/popovers.less";
@import "../../bedrock/inc/bootstrap/less/dropdowns.less";
@import "../../bedrock/inc/bootstrap/less/progress-bars.less";

@colorUser: rgb(148,61,80);
@colorKukui: rgb(243,178,88);
@colorAuntyAloha: rgb(113,195,197);

@colorBrightPurple: rgb(211, 211, 229);
@colorDeepPurple: rgb(77, 68, 97);
@colorDeepRed: rgb(209, 111, 88);
@colorBrightGray: rgb(248, 247, 246);

@colorLightBlue: rgb(34,177,196);
@colorOrange: rgb(255,134,31);
@colorLightOrange: rgb(239,178,69);
@colorYellow: rgb(242,212,0);
@colorBeige: #dfe0da;
@colorBrown: rgb(82,66,65);

@fontDisplay: 'Raleway', sans-serif;
@fontSans: 'Open Sans', sans-serif;

/**
 *	Mixins
 */
.roundCorners(@radius) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}
.full-width-background-image (@imageURL) {
	background: url(@imageURL) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.no-text {
	// Modern approach: http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
	// Changed hide-text to no-text due to bootstrap overlap
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

/**
 * General Styles
 */
body {

	// Basic Form Styles
	form {
		input[type='text'] {
			border: 1px solid @colorBrightPurple;
			border-radius: 0px;
		}
		input[type='submit'] {
			border: none;
			border-radius: 0px;
			background: @colorDeepRed;
			box-shadow: none;
			text-shadow: none;
			color: #FFF;
			font-size: 14px;
			padding: 10px 20px;
			text-transform: uppercase;
			font-family: @fontSans;
			&:hover { color: #FFF; border: none; background: darken(@colorDeepRed, 10%); box-shadow: none; }
		}
	}

	// Typography and Interface
	p, span, div { font-family: @fontSans; }
	.btn {
		border: none;
		border-radius: 0;
		text-shadow: none;
		padding: 8px 10px;
	}
	.btn-primary {
		margin-right: 15px;
		border: none;
		border-radius: 0;
		text-shadow: none;
		background: @colorOrange;
		&:hover { background: lighten(@colorOrange,10%); border: none; box-shadow: none; }
	}
	.post-date {
		color: darken(@colorBrightPurple, 30%);
		font-size: 12px;
		text-transform: uppercase;
	}
	.post-author {
		font-family: @fontDisplay;
		color: @colorDeepPurple;
		font-size: 21px;
		font-style: italic;
	}
	.hidden {
		display: none;
	}
	.icon-cogwheel {
		width: 17px;
		height: 17px;
		background: none;
		img { width: 100%; }
	}
	hr.clear { clear: both; background: none; border: none; margin: 0; }
	pre { font-size: 14px; }

	// Layout

	ul.three-up {
		.clearfix();
		clear: both;
		margin: 0;
		li {
			list-style: none;
			display: block;
			width: 30%;
			float: left;
			margin-left: 5%;
			&:nth-child( 3n+1 ) { margin-left: 0; }
			a.wrapper { display: block; margin-bottom: 20px; }
		}
	}
	header#navbar {
		background: @colorDeepPurple;
		.navbar {
			color: #FFF;
			margin: 0 auto;
			.navbar-inner {
				background: @colorDeepPurple;
				border: none;
				border-radius: 0;
				box-shadow: none;
				-webkit-box-shadow: none;
				// Logo / Site Title (left)
				a.site-title { color: #EEE; font-family: @fontDisplay; font-weight: 600; padding: 10px 0; }
				// Settings (right)
				.settings-panel {
					float: right;
					margin-right: -20px;
					.icon-cogwheel {
						margin-top: 10px;
					}
					ul {
						width: 150px;
						margin: 13px 0 0 -143px;
						border-radius: 0;
						border: none;
					}
				}
			}
		}
	}
	#main {
		position: relative;
		margin: 0 auto;
		padding: 0;
	}
	#page {
		position: relative;
		margin: 0 auto;
		min-height: 0px;
	}
	#content {
		header {
			.clearfix();
			h2 { color: #FFF; text-align: center; font-family: @fontDisplay; font-size: 23px; }
			h1 { color: #FFF; margin: 48px auto 28px; text-align: center; font-family: @fontDisplay; font-size: 67px; } // Instruction/Title text
			.btn-back { margin: -65px 0 0 0 ; display: block; float: left; color: #FFF; }
		}
	}
	footer#colophon {
		height: 60px;
		color: #FFF;
		text-align: center;
		background: none;
		.container-narrow { padding-top: 20px; }
		.site-info { text-align: center; }
	}
	// Typography
	a:visited {
		color: @linkColor;
		&.btn { color: @grayDark;
			&.btn-primary { color: #FFF; }
		}
	}
	// Styling for completed lessons, topics, modules and units
	[data-complete^="1"] a h4, [data-complete*="1"] a h4 {
		background-color: @green !important;
	}
	.claim-kukui { margin-left: 15px; }
	.inline-kukui {
		&.aunty-aloha { color: @colorAuntyAloha; }
	}
	.inline-user { }
	.avatars {
		width: 400px;
		position: absolute;
		bottom: 40px;
		left: 50%;
		z-index: -99;
		.avatar-wrapper {
			// http://stackoverflow.com/questions/1776915/how-to-center-absolute-element-in-div
			position: relative; left: -50%;
		}
		.clearfix();
	}
	.user-avatar {
		position: absolute;
		left: 0;
		bottom: 0;
		height: 286px;
		width: 150px;
		&.male {
			background: url('../images/male-avatar.png') no-repeat;
			&.waveuser { background-position: -10px 0; }
			&.wave { background-position: -224px 0 !important; }
			&.default { background-position: -558px 0; }
			&.backturn { background-position: -380px 0; }
		}
		&.female {
			background: url('../images/female-avatar.png') no-repeat;
			&.default { background-position: -540px 0; }
			&.wave { background-position: -207px 0 !important; width: 157px; }
			&.backturn { background-position: -378px 0; }
		}
	}
	.kukui-avatar {
		position: absolute;
		right: 0;
		bottom: 0;
		height: 286px;
		width: 175px;
		&.aunty-aloha {
			background: url('../images/aunty-aloha.png') no-repeat;
			&.default { background-position: -240px 0; }
			&.backturn { width: 220px; background-position: -1478px 0; }
		}
	}
}

/**
 *  Public General
 */
body.not-logged-in.home {
	.view-more {
		color: #FFF;
		background: #CACACA;
		display: block;
		float: right;
		margin: 17px 0 0 0;
		padding: 3px 7px 3px 13px;
		font-size: 14px;
		.roundCorners(20px);
		i { margin: 2px 0 0 5px; }
		&:hover { background: @colorDeepPurple; text-decoration: none; }
	}
	#main {
		padding: 80px 0 0;
		#content {
			// Top slide
			.hero {
				position: relative;
				min-height: 410px;
				h1 { width: 555px; margin-bottom: 20px; }
				.aunty-aloha-hero {
					width: 594px;
					height: 388px;
					background: url('../images/public/aunty-aloha-hero.png') no-repeat;
					position: absolute;
					right: 0;
					top: -20px;
				}
				// Mail collector
				form.sml_subscribe {
					max-width: 555px;
					position: relative;
					z-index: 2;
					.sml_thankyou {
						position: absolute;
						background: @colorDeepPurple;
						padding: 6px 8px 6px 9px;
						top: -9px;
						color: #FFF;
					}
					.sml_name { display: none; }
					.sml_email {
						float: left;
						label { font-family: @fontSans; font-size: 16px; font-style: italic; font-weight: 300; padding-bottom: 5px; }
						input[type='text'] { width: 272px; padding: 10px 20px; margin-right: 10px; }
					}
					.sml_submit {
						float: left;
						input[type='submit'] {
							margin-top: 30px;
							padding: 14px 20px;
							cursor: pointer;
							&:hover { background: darken(@colorDeepRed, 10%); }
						}
					}
				}
			}
			// Development Screenshots
			.development-screenshots {
				h2 { float: left; }
				margin-bottom: 10px;
				ul.three-up {
					border-top: 1px solid #DDD;
					padding-top: 18px;
					li {
						a.wrapper { height: 150px; overflow: hidden; }
					}
				}
			}
			// Latest Updates
			.latest-updates {
				h2 { float: left; }
				margin-bottom: 35px;
				ul.three-up {
					border-top: 1px solid #DDD;
					padding-top: 18px;
					li {
						h3 {
							margin: 5px 0 10px 0;
							line-height: 1.2;
							font-family: @fontSans;
							font-weight: normal;
							font-size: 20px;
							a { color: @colorDeepPurple; }
						}
						a.read-more {
							color: #FFF;
							background-color: @colorDeepRed;
							padding: 8px 13px;
							margin: 10px 0;
							font-size: 12px;
							text-transform: uppercase;
						}
					}
				}
			}
		}
	}
	a.btn.btn-large.btn-success { display: block; clear: both; }
}

body.not-logged-in {
	.full-width-background-image('../images/public/marketing-bg.jpg');
	//background: url('../images/public/marketing-bg.jpg') center center;
	header#navbar-basic {
		.container {
			padding-top: 20px;
			background-color: fadeout(@colorBrightGray, 10%);
		}
		h2.site-title {
			a {
				.no-text();
				float: left;
				width: 219px;
				height: 68px;
				background: url('../images/public/bh-beta-logo.png') no-repeat;
				margin-left: 40px;
			}
		}
		a.log-in {
			font-family: @fontSans;
			font-size: 13px;
			margin-top: 12px;
			margin-right: 40px;
			float: right;
			background: @colorDeepRed;
			text-transform: uppercase;
			padding: 10px 20px;
			&:hover { background: darken(@colorDeepRed, 10%); }
		}
	}
	#page {
		background-color: fadeout(@colorBrightGray, 10%);
		color: @colorDeepPurple;
		#navbar-basic { .clearfix(); }
		#main {
			#primary {
				min-height: 0px;
				#content {
					h1, h2 { font-family: @fontDisplay; font-weight: 200;  }
					h1 { font-size: 45px; line-height: 1.1; }
					h2 { font-size: 29px; margin-bottom: 15px; }
					hr { margin: 35px 0 20px 0; }
					.padded { padding: 0 40px; } // Bootstrap padding hack
				}
			}
		}
	}
	footer#colophon {
		.footer-art {
			height: 160px;
			background: url('../images/public/marketing-footer.png') top center no-repeat fadeout(@colorBrightGray, 10%);
		}
		.footer-content {
			padding: 20px 0;
			background: @colorDeepPurple;
			font-size: 13px;
			.copyright {
				float: left;
				color: #fff;
				margin-left: 40px;
			}
			ul.menu {
				float: right;
				margin: 0 40px 0 0;
				li.menu-item {
					float: left;
					margin-left: 10px;
					list-style: none;
					a { color: #FFF; }
				}
			}
		}
	}
}

body.single-post, body.archive.date, body.not-logged-in.page {
	// Development Screenshots
			.development-screenshots {
				h2 { float: left; }
				margin-bottom: 10px;
				ul.three-up {
					border-top: 1px solid #DDD;
					padding-top: 18px;
					li {
						a.wrapper { height: 150px; overflow: hidden; }
					}
				}
			}
	#content {
		article {
			width: 700px;
			margin: 40px auto;
			h1 { color: @colorDeepPurple; margin: 0 0 10px 0; }
			.post-date {
				display: block;
				text-align: center;
				font-size: 14px;
			}
			.post-author {
				text-align: center;
				display: block;
			}
		}
	}
}


/**
 *  Logged-in General
 */
body.logged-in {
	.full-width-background-image('../images/dashboard-bg-blur.jpg');
	&.aunty-aloha {
 	.full-width-background-image('../images/aunty-aloha-bg.jpg');
	}
	.popover {
		.popover-title { display: none; }
		.popover-content {
			h1 { font-size: 35px; }
			i { display: block; padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #CCC; }
			a { width: 220px; }
		}
	}
}

/**
 *	Logged in: Home
 */
body.home.logged-in {
	.user-avatar {
		position: absolute;
		bottom: 0;
		left: 120px;
		&.male {

		}
	}
	#primary { min-height: 720px; }

	#page { background-color: fadeout(#FFF, 10%); }

	#content {
		background-color: fadeout(@colorBrightPurple, 5%);
		h1 { font-size: 38px; font-weight: 200; text-align: left; margin: 28px; float: left; }
	}
	ul.units {
		li.unit {
			list-style: none;
			a {
				display: block;
				position: absolute;
				height: 100px;
				width: 100px;
				line-height: 100px;
				border-radius: 100px;
				text-indent: -9999px;
				&.post204 {
					top: 260px;
					left: 360px;
					background: url('../images/aunty-aloha-icon.png') center center no-repeat rgba(113,195,197,0.9);
				}
			}
		}
	}
}

/**
 *	Logged In
 */
body.logged-in {
	.wallet-balance {
		position: absolute;
		right: 60px;
		bottom: 40px;
		.currency-type {
			position: relative;
			float: right;
			margin-left: 40px;
			.currency-icon {
				width: 82px;
				height: 82px;			
				.roundCorners(90px);	
				&.kukui { background: url('../images/kukui-nut.png') center center no-repeat @colorYellow; border: 10px solid @colorLightOrange; }
				&.flower { background: url('../images/flower.png') center center no-repeat @colorAuntyAloha; border: 10px solid @colorLightBlue; }
			}
			.currency-balance {
				color: @colorBrown;
				font-weight: 600;
				text-align: center;
				padding: 10px;
				width: 22px;
				height: 22px;
				position: absolute;
				right: -20px;
				top: 60px;			
				.roundCorners(50px);
				&.kukui { background: @colorYellow; border: 5px solid @colorLightOrange; }
				&.flower { background: @colorAuntyAloha; border: 5px solid @colorLightBlue; }
			}
		}
	}
}

/**
 *	Logged In & Single
 */
body.single.logged-in {
	.lesson-content {
		ul, ol {
			padding: 0 10px;
			margin-bottom: 20px;
			li { margin: 0 0 10px 0; }
		}
	}
}

/**
 *	Logged In: Unit Page (list of modules and topics)
 */
body.single-units {
	#content {
		#module-list {
			text-align: center;
			ul.modules {
				li.module {
					h2.module-title { color: #FFF; font-family: @fontDisplay; text-align: center; font-size: 23px; margin: -25px 0 35px 0; }
					h3.no-content { color: #FFF; font-family: @fontDisplay; text-align: center; font-size: 23px; margin: 150px auto 0; }
				}
			}
		}
	}
}

/**
 *	Logged In: Module Page (list of modules and topics)
 */
body.single-topics {
	#content {
		header {
			.btn-back { margin: -115px 0 0 0 ; }
		}
		.lessons {
			text-align: center;
		}
	}
}


/**
 * General Lesson Styles
 */
 #lesson-start-modal {
 		background: url('../images/texture-one.png');
 		text-align: center;
 		.modal-body {
 			font-family: @fontDisplay;
 			padding: 100px;
 			h2 { font-size: 60px; }
 		}
 		.modal-footer {
 			text-align: center;
 			background: none;
 			border: none;
 			box-shadow: none;
 			a { width: 80px; margin: 0 0 0 15px; }
 		}
 }
.lesson-header {
	.clearfix();
	.lesson-title {
		margin: 32px 0 28px !important;
		float: left;
		font-size: 48px !important;
		max-width: 630px;
		text-align: left;
	}
	.lesson-progress {
		float: right;
		margin: 42px 0 20px;
		width: 286px;
		.bar.current{ background: #339bb9; }
	}
	.lesson-karma { float: right; min-width: 200px; margin: 10px 0 0 0; }
	.lesson-instructions {
		float: left;
		margin: 0 0 30px;
		color: #FFF;
		max-width: 630px;
		line-height: 1.4;
		font-size: 18px;
		font-weight: normal;
		font-style: italic;
		display: none;
		&.current { display: block; }
	}
}
.lesson-content {
	min-height: 404px;
	background-color: rgba( 255,255,255,0.85 );
	font-size: 23px;
	line-height: 1.5;
	overflow: hidden;
	.translation {
		font-style: italic;
		font-size: 17px;
		background-color: @colorLightBlue;
		color: #FFF;
		margin: 10px 0;
		padding: 20px;
	}
	.lesson-feedback {
		font-size: 14px;
		padding: 15px;
		display: none;
		.lesson-feedback-correct { display: none; }
		.lesson-feedback-incorrect { display: none; }
	}
	.lesson-cards {
		max-width: 600px;
		margin: 28px;
	}
	.lesson-card {
		max-width: 600px;
		display: none;
		&.current { display: block; }
	}
	.test-card { margin: 28px; }

	// Actionable Lesson Items
	.btn-primary { min-width: 150px; margin-bottom: 10px; }
	.audio-player { float: left; margin: 0 0 20px 0; }
	.pause-audio { display: none; }
}

.lesson-footer {
	width: 100%;
	background-color: rgba(44,44,44,0.6);
	.lesson-controls {
		padding: 28px;
		height: 21px;
		.advance-lesson { display: none; }
		.check-lesson { display: none; }
		.finish-lesson { display: none; }
	}
}

.lesson-results { 
	width: 645px;
	height: 415px;
	margin: 150px auto;
	background-color: rgba(44,44,44,0.6);
	color: #FFF;
	text-align: center;
	overflow: hidden;
	.lesson-results-title { margin: 30px auto 5px; font-size: 80px; line-height: 1.0; }
	.lesson-results-blurb { margin: 5px auto 20px; font-size: 28px; line-height: 1.0; }
	.lesson-results-score { margin: 5px auto; }
	.lesson-results-control {
		margin-top: 200px;
		a { margin-right: 10px; }
	}
	&.success {
		&.male { background: url('../images/hooray-boy.jpg') no-repeat; }
		&.female { background: url('../images/hooray-girl.jpg') no-repeat; }
	}
	&.fail {
		&.male { background: url('../images/auwe-boy.jpg') no-repeat; }
		&.female { background: url('../images/auwe-girl.jpg') no-repeat; }
	}
}

/**
 *	Lesson Styles: Instructional Lesson;
 */
body.single-instruction_lessons {
	.lesson-header {
		.lesson-title { text-align: left !important; }
	}
	.lesson-content {
		img { float: left; margin: 0 28px 0 0; }
		.instructional-slide-content { border-bottom: 1px solid #CCC; margin: 0 0 15px 0; }
	}
}

/**
 *	Lesson Styles: Listen Repeat;
 */
body.single-listenrepeat_lessons {
	.lesson-content {
		img { float: left; margin: 0 28px 0 0; }
		.lesson-card-content {
			float: right;
		}
	}
}

/**
 * Lesson Styles: Readings
 */ 
body.single-readings {
	.lesson-content {
		.lesson-card {
			margin: 28px;
			.readings-texts {
				.readings-text {
					display: none;
					&.active { display: block; }
				}
				border-top: 1px solid #CCC;
				padding-top: 20px;
				margin-top: 20px;
			}
		}
	}	
}

/**
 *	Lesson Styles: Phrases;
 */
body.single-phrases_lessons {
	.lesson-image-container {
		max-width: 300px;
		max-height: 300px;
		overflow: hidden;
		margin-bottom: 20px
	}
}


/**
 *	Lesson Styles: Three choice assessments ( phrases, songs, proverbs )
 */
body.single-phrases_lessons, body.single-song_lessons {
	.lesson-card { max-width: none; }
	.lesson-card-assessment-option {
		border: 1px solid #DDD;
		margin: 0 15px 0 0;
	}
}

/**
 *	Lesson Styles: Vocabulary Lessons
 */
body.single-vocabulary_lessons {
	.lesson-content {
		.lesson-card {
			margin: 28px;
			img { width: 315px; max-height: 320px; }
			&.test-card {
				max-width: 100%;
				.lesson-card-assessment {
					border-bottom: 1px solid #CCC;
					padding-bottom: 15px;
					margin-bottom: 20px;
					.clearfix(); 
					.lesson-card-assessment-option {
						font-size: 14px;
						float: left;
						width: 30%;
						margin-right: 3%;
						text-align: center;
						cursor: pointer;
						color: #444;
						.lesson-card-image-wrap {
							max-height: 177px;
							overflow: hidden;
							margin-bottom: 5px;
						}
					}
				}
			}
		}
	}
}


/**
 *	Scene Modals
 */

 #sceneModal.modal {
 	width: 645px;
	background: none;
	color: #FFF;
	border: none;
	box-shadow: none;
	ul li, ol li { margin: 10px 0; line-height: 1.3; }
	.modal-count {
		margin: -25px 0 0 0;
		text-align: center;
		.modal-count-wrap {
			margin: 0 auto;
	    display: inline-block;
	    overflow: hidden;
			.modal-counter {
				.roundCorners(10px);
				width: 10px;
				height: 10px;
				margin-right: 5px;
				background-color: #FFF;
				float: left;
				display: block;
			}	
		}
	}
	.modal-slide {
		padding: 0;
		display: none;
		&.current-modal-slide { display: block; }
	}
	.modal-body {
		max-height: none;
		padding: 0;
		.clearfix();
		.scene-content {
			height: 390px;
			overflow: auto;
			background: url('../images/texture-one.png');
			padding: 20px;
			color: @colorBrown;
			font-family: @fontDisplay;
			font-size: 27px;
			font-weight: 600;
			line-height: 1.3;
			p img { margin: 0 0 -10px 0; }
		}
	}
	.modal-footer {
		border: none;
		box-shadow: none;
		background: none;
		padding: 14px 0 0 0; 
		.scene-caption { float: left; max-width: 450px; text-align: left; }
	}
}


/**
 *  Post Single: Unit
 */
body.single-units {
 	.entry-content {
 		#module-list {
 			margin: 0 auto;
 			min-height: 420px;
 			ul.modules { 
				li.module {
			 		ul.topics {
				 		li.topic {
				 			list-style: none;
				 			a {
								color: #FFF;
								h4 { padding: 25px; background-color: @grayDark; height: 45px; }
				 			}
				 		}
			 		}
			 	}
	 		}
	 	}
	}
	// Specific Carousel Styles
	.carousel {
		.carousel-indicators {
			top: 44px;
			right: 420px;
		}
		.carousel-inner {
			margin: 0;
			overflow: visible;
		}
		.carousel-control {
			top: 50%;
			&.left { left: -75px; }
			&.right { right: -75px; }
		}
	}
}

/**
 *  Post Single: Topic
 */
body.single-topics {
	ul.lessons {
		width: 980px; margin: 0 auto;
		li.lesson {
			list-style: none;
			a {
				color: #FFF;
				h4 { padding: 25px; background-color: @grayDark; height: 45px; }
			}
		}
	}
}

/*
 * Scoresheet
 */
ul.scoresheet {
	list-style: none;
	margin: 0;
	li.record {
		padding: 10px 0;
		border-top: 1px solid @grayLight;
		&:first-child { border-top: none; }
		&.legend {
			text-transform: uppercase;
			color: @grayLight;
			font-size: 12px;
		}
		ul.scores {
			float: right;
			li { list-style: none; float: left; border-top: none; text-align: center; }
		}
	}
}

/**
 *	Page Template: Statistics
 */
body.page-template-statistics-php {
	#content {
		padding: 20px 30px;
		background: rgba(255,255,255,0.7);
		ul.user-statistics {
			margin: 0;
			padding: 0;
			li { list-style: none; }
		}
	}
}


/**
 *	Media Queries
 */

// Large and below
// @media ( min-width: 1200px ) {
// 	body.home {
// 		.container { width: 1200px !important; }
// 	}
// }

// // Large and below
// @media ( max-width: 1200px ) {

// }

// // iPads & below (grr)
// @media ( max-width: 1024px ) {
// 	body.home {
// 		#page {
// 			margin: 0;
// 			width: 100%;
// 			#primary { min-height: 600px; }
// 		}
// 	}
// 	body.single-units {
// 		.carousel .carousel-control {
// 			top: 10px;
// 			&.left { left: 15px; }
// 			&.right { right: 0px; }
// 		}
// 		.avatars { display: none; }
// 	}	
// }


// // Desktop & Below
// @media ( max-width: 979px ) {

// }

// // Tablet & Below
// @media ( max-width: 767px ) {
// 	// General
// 	body.single {
// 		header#navbar { margin: 0 -20px; }
// 	}
// 	// Lesson Pages
// 	.lesson-header {
// 		.lesson-title { margin: 35px 0 0 0 !important;  }
// 	}
// }

// // Phones & Below
// @media (max-width: 479px) {

// }
