/*
 * Diamond Specific Styles
 */

@import "../../bedrock/inc/less/bedrock-variables.less"; // Replace this line with your new variables, if you like.
@import "../../bedrock/inc/bootstrap/less/mixins.less";
@import "../../bedrock/inc/bootstrap/less/carousel.less";
@import "../../bedrock/inc/bootstrap/less/modals.less";
@import "../../bedrock/inc/bootstrap/less/popovers.less";
@import "../../bedrock/inc/bootstrap/less/progress-bars.less";

@colorUser: rgb(148,61,80);
@colorKukui: rgb(243,178,88);
@colorAuntyAloha: rgb(113,195,197);

/**
 * General Styles
 */
body {
	// Layout
	header#navbar {
		margin: 0 auto;
		.navbar-inner {
			border-radius: 0;
		}
	}
	#main {
		position: relative;
		margin: 0 auto;
		padding: 0;
	}
	#page {
		position: relative;
		margin: 0 auto;
		min-height: 0px;
	}
	#content {
		header h1 { background-color: rgba(44,44,44,0.6); color: #FFF; margin: 0; padding: 28px; } // Instruction/Title text
	}
	footer#colophon {
		background: none;
		.site-info { text-align: center; }
	}
	// Typography
	a:visited {
		color: @linkColor;
		&.btn { color: @grayDark;
			&.btn-primary { color: #FFF; }
		}
	}
	// Random elements
	.btn-back { margin-bottom: 10px !important; }
	// Styling for completed lessons, topics, modules and units
	[data-complete^="1"] a h4, [data-complete*="1"] a h4 {
		background-color: @green !important;
	}
	.claim-kukui { margin-left: 15px; }
	.inline-kukui {
		&.aunty-aloha { color: @colorAuntyAloha; }
	}
	.inline-user {
		color: ;
	}
	.user-avatar {
		height: 286px;
		width: 150px;
		&.male {
			background: url('../images/male-avatar.png') no-repeat;
		}
	}
	.user-avatar.male.default { background-position: -558px 0; }
	.user-avatar-male-wave { background-position: -224px 0 !important; }
}
/**
 *	Mixins
 */ 
.full-width-background-image {
	-webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}

/**
 *  Public General
 */
body.not-logged-in {
	.nav { margin-top: 15px; }
	.container-narrow { max-width: 700px; margin: 0 auto; }
	header#navbar-basic { max-width: 700px; margin: 0 auto 15px; overflow: hidden; }
	#page {
		max-width: 700px;
		#navbar-basic { .clearfix(); }
		#main {
			padding: 40px 0;
			border-top: 1px solid #CBCBCB;
			width: 100%;
			#content {
				text-align: center;
				h1 { font-size: 72px; line-height: 1.0; }
				hr { margin: 35px 0 20px 0; }
			}
		}
	}
	footer#colophon {
		background: none;
		.container-narrow { padding-top: 20px; border-top: 1px solid #CBCBCB; }
	}
}

/**
 *  Logged-in General
 */
body.logged-in {
	background: url('../images/texture-one.png');
}


/**
 *	Logged in: Home
 */
body.home.logged-in {
	.user-avatar {
		position: absolute;
		bottom: 0;
		left: 120px;
		&.male {

		}
	}
	#page { background: url( '../images/dashboard-bg.jpg' ) no-repeat; .full-width-background-image; }
	ul.units {
		li.unit {
			list-style: none;
			a {
				display: block;
				position: absolute;
				height: 100px;
				width: 100px;
				line-height: 100px;
				border-radius: 100px;
				text-indent: -9999px;
				&.post204 {
					top: 260px;
					left: 360px;
					background: url('../images/aunty-aloha-icon.png') center center no-repeat rgba(113,195,197,0.9);
				}
			}
		}
	}
}

/**
 *	Unit Pages
 */
body.single-units {
	// Aunty Aloha
	&.postid-204 #page { background: url( '../images/aunty-aloha-bg.jpg' ) no-repeat; .full-width-background-image; }
}


/**
 * General Lesson Styles
 */
.lesson-content {
	.lesson-feedback {
		display: none;
		.lesson-feedback-correct { display: none; }
		.lesson-feedback-incorrect { display: none; }
	}
	.lesson-card {
		display: none;
		&.current { display: block; }
	}
}

.lesson-footer {
	.lesson-controls {
		.advance-lesson { display: none; }
		.check-lesson { display: none; }
		.finish-lesson { display: none; }
	}
}

/**
 * Lesson Styles: Readings
 */ 
body.single-readings {
	.readings-text {
		display: none;
		&.active { display: block; }
	}
}


/**
 *	Scene Modals
 */
.modal {
	background: rgb(223,224,218);
	background: rgba(223,224,218,1.0);
	.modal-slide {
		display: none;
		&.current-modal-slide { display: block; }
	}
	.modal-body {
		min-height: 300px;
	}
}


/**
 *  Post Single: Unit
 */
body.single-units {
 	.entry-content {
 		#module-list {
 			min-height: 500px;
 			ul.modules { 
				li.module {
			 		ul.topics {
				 		li.topic {
				 			list-style: none;
				 			a {
								color: #FFF;
								h4 { padding: 25px; background-color: @grayDark; }
				 			}
				 		}
			 		}
			 	}
	 		}
	 	}
	}
	// Specific Carousel Styles
	.carousel {
		.carousel-control {
			bottom: 0;
			top: auto;
			&.right { right: 0; }
		}
	}
}

/**
 *  Post Single: Topic
 */
body.single-topics {
	ul.lessons {
		li.lesson {
			list-style: none;
			a {
				color: #FFF;
				h4 { padding: 25px; background-color: @grayDark; }
			}
		}
	}
}

/*
 * Scoresheet
 */
ul.scoresheet {
	list-style: none;
	margin: 0;
	li.record {
		padding: 10px 0;
		border-top: 1px solid @grayLight;
		&:first-child { border-top: none; }
		&.legend {
			text-transform: uppercase;
			color: @grayLight;
			font-size: 12px;
		}
		ul.scores {
			float: right;
			li { list-style: none; float: left; border-top: none; text-align: center; }
		}
	}
}


/**
 *	Media Queries
 */

// Large & Above
@media ( min-width: 1380px ) {
	body {
		.navbar .container { width: 1380px; }
		.container { width: 1380px; }
		#primary { min-height: 776px; }
	}
}

// Large and below
@media ( max-width: 1380px ) {
	body {
		.navbar .container { width: 1200px; }
		.container { width: 1200px; }
		#primary { min-height: 662px; }
	}
}

// Large and below
@media ( max-width: 1200px ) {

}

// Desktop & Below
@media ( max-width: 979px ) {

}

// Tablet & Below
@media ( max-width: 767px ) {
	body {
		padding-left: 0;
		padding-right: 0;
	}
}

// Phones & Below
@media (max-width: 479px) {

}






















/*
 * General Styles
 */

ul.breadcrumb { background: @grayLighter; }
.cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -9999999;
  position: fixed;
  width: 100%;
  height: 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=image-path("bg.jpg"), sizingMethod='scale');
  -ms-filter: 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image-path("bg.jpg")', sizingMethod="scale")';
}

// Logged In: Vocabulary Game
.gameProgress {
	height: 40px;
	width: 100%;
	.gameProgressPoint {
		height: 40px;
		width: 40px;
		border-radius: 50%;
		background-color: @white;
		margin-right: 10px;
		float: left;
		&.current { background-color: @grayDark; }
	}
	.miniGame { background: url('../images/game-icons.png') 0 -40px no-repeat @grayLight; }
	.finish { background: url('../images/game-icons.png') 0 -80px no-repeat @grayLight; }
}

.gameBoard {
	.btn { margin-top: 10px; }
	.gameCard {
		display: none;
		&.current { display: block; cursor: pointer; }
		.gameCardControls {
			.clearfix();
			margin: 0 0 10px 0;
			a.pronunciationPlay {
				width: 40px;
				height: 40px;
				background: url('../images/game-icons.png') 0 0 no-repeat @grayLight;
				display: block;
				cursor: pointer;
				float: left;
				.border-radius (20px);
			}
			.translationWrapper {
				float: left;
				margin: 0 0 0 15px;
				a.toggleHwnTranslation, a.toggleEngTranslation { display: block; cursor: pointer; float: left; clear: left;}
			}
		}
		&.miniGame {
			.gameChoices{
				position: relative;
				.clearfix();
				padding-top: 60px; 
				.gameChoice {
					float: left;
					.gameCardControls { position: absolute; top: 0; left: 0;}
					a.choiceSelect {
						&.selected img { border: 5px solid green; }
					}
				} // gameChoice
			} // gameChoices
		} // miniGame 
	} // gameCard
}